:root {
  --blue: #00ffff;
}

body {
  background: #fff;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;

  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--blue);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--blue);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--blue);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--blue);
}

.navbar-login {
  padding: 10px;
  color: black;
  background-color: var(--blue);
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  width: 7%;
  border: 1px solid var(--blue);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}

.article {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  display: table;
}
.article-left {
  width: 60%;
  float: left;
}

.article-text p {
  font-size: 15px;
}

.article img {
  width: 100%;
  height: auto;
}

.icon-share a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;

  color: black;
  transition: all 0.3s ease;
}

.share {
  margin-top: 30px;
}

.share p {
  font-size: 13px;
}

.icon-share {
  font-size: 20px;
  margin-top: 10px;
}

.icon-share .facebook {
  background: #3b5998;
  border-radius: 5%;
  color: white;
}

.icon-share .twitter {
  background: #3b5998;
  color: white;
}

.icon-share .linkedin {
  background: #007bb5;
  color: white;
}

.icon-share .instagram {
  background: #125688;
  color: #fff;
}
.icon-share .whatsapp {
  background-color: #25d366;
  color: #fff;
}
.right {
  float: right;
  align-items: center;
  width: 30%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

select {
  width: 100%; /* Adjust the width to your preference */
  height: 100%;
  padding: 8px; /* Add padding for better visual appeal */
  box-sizing: border-box; /* Include padding and border in the total width */
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ececec;
  margin-top: 10px;
}

.tur {
  background-color: #fff;
  border: 1px solid #ececec;
  width: 100%;
}

.tur h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #0080ff;
}

.tur i {
  margin-right: 10px;
}

input[type="submit"] {
  width: 100%;
  height: 100%;
  padding: 8px;
  cursor: pointer;
  background-color: var(--blue);
  margin-top: 10px;
  color: black;
}

input[type="submit"]:hover {
  background-color: orange;
  color: #fff;
}

.recent-post {
  padding: 15px;
  margin-top: 20px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ececec;
}

.recent-post h3 {
  margin-bottom: 25px;
}
.recent-post a {
  color: #0080ff;
}

.recent-post a:hover {
  color: orange;
}

.heading {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3)
    ),
    url(../jpg/wisata1.jpg);
  background-position: bottom center;
  width: 100%;
  position: relative;
  height: 30vh;
}

.text-heading h1 {
  text-align: center;
  padding-top: 4rem;
  color: white;
}

.text-heading p {
  text-align: center;
  color: #fff;
  font-size: 13px;
  margin-top: 10px;
}

.text-heading i {
  margin-right: 10px;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 50px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--blue);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

.marquee .text-heading font {
  color: #fff;
  background-color: orange;
  padding: 10px;
}

.marquee {
  border-top: 1px solid;
  width: 100%;
  padding: 7px;
  font-size: 13px;
}

.news {
  width: 100%;
  margin-top: 15px;
}

.news .gambar img {
  width: 100%;
  height: auto;
}

.news .article-satu {
  display: flex;
  padding: 10px;
}

.gambar {
  margin-right: 20px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ececec;
  padding: 10px;
}

.gambar:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-text .tulisan {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-text .h4 {
  color: #0080ff;
  font-size: 18px;
}

.article-text .h4:hover {
  color: orange;
  font-size: 18px;
}

.article-text .date {
  color: #808080;
  font-size: 11px;
}

.article-text .date i {
  margin-right: 8px;
}

.article-text .tulisan {
  font-size: 14px;
  color: #808080;
}

.article-text .selengkapnya {
  font-size: 14px;
  color: #0080ff;
}

.article-text .selengkapnya:hover {
  font-size: 14px;
  color: orange;
}

.news .heading-news h4{
  color: #0080ff;
}

.article-satu{
  margin-top: 15px;
}

.box {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  
  height: 30%;
}

.box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 .box img {
  height: 12rem;
  width: 100%;
  
}

 .box .content {
  padding: 1rem 2rem;
}

.box .content .detail {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  color: black;
}

.box .content .detail i {
  color: var(--blue);
}

.box .content .detail:hover {
  color: orange;
}

.box .content p {
  
  font-size: 1rem;
  color: #666;
  padding: 0.5rem 0;
}

.btn {
  display: inline-block;
  padding: 13px 40px;
  background-color: var(--blue);
  color: black;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn:hover {
  transform: translateX(10px);
  border: 2px solid var(--blue);
  background: transparent;
  color: var(--blue);
}

.box .content .price h5 {
  font-size: 1rem;
  color: #ff6666;
  margin-top: 5px;
  text-align: left;
}

.box .content h4 i {
  font-size: 14px;
  margin-right: 10px;
  color: #666;
}

 .box .content h4 {
  
  margin-bottom: 10px;
  font-size: 14px;

  color: #666;
}

.box .content .btn {
  margin-top: 4%;
}

.destinasi{
  padding: 20px 20px 15px;
  margin-top: 20px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ececec;
  
  
  
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 20px;
}

.active, .dot:hover {
  background-color: #717171;
}

