html {
  scroll-behavior: smooth;
}
:root {
  --blue: #00ffff;
}

body {
  background: #fff;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;

  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  scroll-behavior: smooth;
}

.mobile-menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar.transparent {
  /* properti yang berubah */
  background-color: rgba(1, 1, 1, 0);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  transition: background-color 0.5s ease;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--blue);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--blue);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--blue);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--blue);
}

.navbar-login {
  padding: 10px;
  color: black;
  background-color: var(--blue);
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  width: 7%;
  border: 1px solid var(--blue);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--blue);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--blue);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: #fff;
  color: var(--blue);
}

.login-form-container form h3 {
  font-size: 3rem;
  color: #444;
  text-transform: unset;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.login-form-container form .box:focus {
  border-color: var(--blue);
}

.login-form-container form #remember {
  margin: 2rem 0;
}

.login-form-container form label {
  font-size: 1.5rem;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
}

.login-form-container form p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #666;
}

.login-form-container form p a {
  color: var(--blue);
}

.login-form-container form p a:hover {
  color: #333;
  text-decoration: underline;
}

.login-form-container #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: pointer;
}

.beranda {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3)
    ),
    url(../jpg/wisata1.jpg);
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

section {
  padding: 70px 17% 60px;
}

.home-text h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--blue);
}

.home-text h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}

.home-text p {
  font-weight: 500;
  line-height: 30px;
  color: #ffffffab;
  margin-bottom: 35px;
}

.nav-transportasi a {
  float: right;
  margin-right: 20px;
}

.pesawat {
  float: left;
  position: absolute;
  right: 0;
  left: 0;
  height: 80%;
  margin-top: 3%;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3)
    ),
    url(pesawat1.jpg);
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pesawat h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-left: 50px;
  float: left;
}

.check-in {
  margin-left: 20%;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: blue;
  width: 30%;
  height: 70%;
}

.wrapper {
  width: 370px;
}

.select-btn,
.options li {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.select-btn {
  height: 65px;
  font-size: 22px;
  justify-content: space-between;
  background: #fff;
  padding: 0 20px;
  border-radius: 7px;
  height: 65px;
}

.select-btn i {
  font-size: 31px;
  transition: transform 0.3 linear;
}

.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}

.content {
  display: none;
  margin-top: 15px;
  padding: 20px;
  border-radius: 7px;
  background: white;
}

.wrapper.active .content {
  display: block;
}

.content .search {
  position: relative;
}

.search i {
  left: 15px;
  color: #999;
  font-size: 20px;
  line-height: 53px;
  position: absolute;
}

.search input {
  height: 53px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 15px 0 43px;
  border: 1px solid #b3b3b3;
}

.content .options {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
}

.options::-webkit-scrollbar {
  width: 7px;
}

.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.options li {
  height: 50px;
  padding: 0 13px;
  font-size: 21px;
  border-radius: 5px;
}

.options li:hover {
  background: #f2f2f2;
}

.center-text {
  text-align: center;
}

.center-text h2 {
  color: white;
  font-size: var(--blue);
  font-weight: 800;
}

.tour-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

.box {
  position: relative;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(70%);
  transition: all 0.3s cubic-bezier(0.499, 0.05, 0.55, 0.95);
  will-change: filter;
  display: block;
}

.box h6 {
  position: absolute;
  left: 25px;
  bottom: 95px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.box h4 {
  position: absolute;
  left: 25px;
  bottom: 65px;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.box img:hover {
  filter: brightness(90%) hue-rotate(50deg);
  transform: scale(1.04);
  cursor: pointer;
}

.center-btn {
  text-align: center;
  margin-top: 4rem;
}

.button {
  display: inline-block;
  padding: 13px 40px;
  background-color: var(--blue);
  color: black;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.button:hover {
  transform: translateX(10px);
  border: 2px solid black;
  background: transparent;
  color: var(--blue);
}

.city-content {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.row-img {
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.row-img img {
  width: 150%;
  display: block;
  transition: transform 0.7s;
}

.row-img img:hover {
  transform: scale(1.2);
}

.city-content h4 {
  color: black;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
}

.city-content h4:hover {
  color: var(--blue);
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../jpg/wisata.jpg);
  background-size: cover;
}

.contact .konten {
  max-width: 800px;
  text-align: center;
}

.contact .konten h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.contact .konten p {
  font-size: 300;
  color: #fff;
  margin-top: 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.social a:hover i {
  color: #ffffff;
  transition: all ease 0.5s;
}

.social {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  background-color: #ffffff;
  border: 1px solid #cbcbcb;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.social a:hover {
  background-color: #000000;
  transition: all ease 0.5s;
}

.social i {
  font-size: 20px;
  color: #2b2b2b;
}

#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.blog-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-heading span {
  color: var(--blue);
}

.blog-heading h3 {
  font-size: 2.4rem;
  color: #2b2b2b;
  font-weight: 600;
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box {
  width: 350px;
  background-color: #fff;
  border: 1px solid #ececec;
  margin: 20px;
}

.blog-img {
  width: 100%;
  height: auto;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.blog-text span {
  color: var(--blue);
  font-size: 0.9rem;
}

.blog-text .blog-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
}

.blog-text .blog-title:hover {
  color: var(--blue);
  transition: all ease 0.3s;
}

.blog-text p {
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.blog-text a {
  color: #0f0f0f;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-text a:hover {
  color: var(--blue);
  transition: all ease 0.3s;
}

.center-text h3 {
  font-size: 2.4rem;
  color: #2b2b2b;
  font-weight: 600;
}

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #27ae60;
  bottom: 40px;
  right: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 22px;
}

.up {
  max-width: 1170px;
  margin: auto;
}

.rata {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 50px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--blue);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-logo {
    margin-bottom: 15px;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav a {
    margin: 10px 0;
  }

  .nav-item.dropdown {
    display: block;
  }

  .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    box-shadow: none;
  }

  .blog-box {
    width: 100%;
  }
}
